body {
    background-color: white;
}
/* Bagian Header */
.header{
    height: 30px;
    background-color: #00DEFF;
    border: 2px solid black;
}
.h-list {
    overflow: hidden;
}
.h-list a {
    float: right;
    color: black;
    text-align: center;
    padding: 6px 20px;
    text-decoration: none;
    font-size: 15px;
}
.h-list a:hover {
    color: white;
}
.h-list a.home {
    background-color: #00ABE0;
    color: white;
}
.h-list a.aboutMe {
    background-color: #00DEFF;
}
.h-list a.resep {
    background-color: #00DEFF;
}
/* Bagian Navbar */
.navbar{
    height: 90px;
    background-color: #00ABE0;
    border-left: 2px solid black;
    border-right: 2px solid black;
}
button {
    cursor: pointer;
    border: 1.5px solid black;
    text-align: center;
    font-size: 6px;
}
.n-logo{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 1px;
    text-align: center;
    line-height: 1px;
}
.n-logo input[type=text] {
    border: 1.5px solid black;
}
.n-logo button[type=submit] {
    border: 1.5px solid black;
}
.logo {
    font-size: 20px;
}
.teks {
    font-size: 10px;
    line-height: 1px;
}
.cari {
    font-size: 13px;
}
/* Bagian Main-Content */
.main{
    height: 350px;
    background-color: #E6F4F1;
    border: 2px solid black;
}
.c-items {
    float: left;
    padding: 35px 24px;
}
.c-items p {
    font-size: 20px;
    font-weight: bold;
}
.c-items p:hover {
    color: #00DEFF;
}
/* Form Registrasi */
/* .regis {
    width: 50%;
    margin: auto;
}
h3 {
    text-align: center;
    padding-bottom: 2.5px;
}
label {
    font-size: larger;
}
.form-regis {
    width: 100%;
    height: 25px;
    margin: 2.5px 0px 5px;
}
.btn-send {
    width: 75px;
    height: 35px;
    margin-top: 4.5px;
    margin-left: 280px;
    font-size: 20px;
    border-style: none;
    border-radius: 25px;
    background-color: rgb(0, 155, 216);
    color: white;
}
.btn-submit:hover {
    background-color: rgb(1, 126, 175);
} */
/* Bagian Footer */
.footer{
    height: 35px;
    background-color: #DC751E;
    border-left: 2px solid black; 
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}
.f-teks {
    text-align: center;
    padding-top: 2px;
    font-size: 10px;
    color: black;
}
/* Bagian Dark Mode */
.dark-mode {
    background-color: black;
    color: gainsboro;
}
.dark-mode .header {
    border: 2px solid white;
}
.dark-mode .h-list a.home {
    color: black;
}
.dark-mode .h-list a {
    color: white;
}
.dark-mode .h-list a:hover {
    color: black;
}
.dark-mode .navbar {
    border-left: 2px solid white;
    border-right: 2px solid white;
}
.dark-mode .main {
    background-color: black;
    border: 2px solid white;
}
.dark-mode .footer {
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}
.dark-mode .f-teks {
    color: white;
}